@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Varela+Round&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}   

/*-------------------RESET CSS ----------------------*/

:root{
    --border: 0.18rem solid rgba(241, 198, 7, 0.712);
    --border2: 0.1rem solid rgb(205, 201, 62);
    font-size: 18px;
    --fundo: #fff5da;
    --azul: #6DC5D1;
    --azul2: #01b2f8;
    --card: #FEB941;
    --bege: #FDE49E;
    --card-texto: #fff2a7;
    --span: #1a00aa;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Lato, sans-serif;
    transition: 0.2s linear;
}

header{
    
    background-color: #59B4C3;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 110px;
    max-width: 100%;
    font-size: 1.2rem;
    font-family: Georgia, serif;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 218, 51);

}

.navbar a:hover{
    color: rgb(205, 201, 62);
    border-bottom: var(--border2);
    border-top: var(--border2);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.home-content{
    
    background-color: #000000;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./imagens/libraslove3.jpg");
    background-size: cover;
    opacity: 0.89;
    width: 100%;
    max-height: 800px;
}

.home-content h1 {
    font-family: Anton, sans-serif;
    font-size: larger;  
}


/*--------------------------------*/
body {
    background-color: white;
    font-family: Cambria, sans-serif;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #fff5da;*/
    background-color: var(--fundo);
    font-family: Lato, sans-serif;
    
}



/*STYLE PADRÃO*/
/**/
/*PRIMEIRA PARTE*/

.primeiro-conteudo {
    /*max-width: 1500px;*/
    height: 0px;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 13rem;
    align-self: first baseline;
    margin: auto;

}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.primeiro-conteudo-titulo h1 {
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;


}

.primeiro-conteudo-titulo p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    
}

.vamos-saber h1{
    font-weight: 900;
}

.curiosidades{
    font-weight: 900;
}

.historia{
    font-weight: 900;
}

.vamos-saber {
    justify-items: center;
    margin: auto;
    gap: 2rem;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    margin-top: 50px;
    color: var(--fundo);
    font-family: Cambria, sans-serif;
    font-size: 35px;
    background-color: var(--azul);
    border-radius: 20px;
    padding: 15px;
    width: 700px;
    align-self: center;
}

/*SEGUNDO CONTEÚDO*/

.segundo-conteudo {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    gap: 1.5rem;
    padding: 6rem;
}

.segundo-conteudo-primeiro {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: 20px;
}

.segundo-conteudo-texto {
    padding: 1rem;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    font-family: Cambria, sans-serif;
}

.segundo-conteudo-dois {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: 20px;
}

.historia {
    text-align: center;
    color: var(--fundo);
    font-family: Cambria, sans-serif;
    font-size: 35px;
    background-color: var(--azul);
    border-radius: 20px;
    padding: 15px;
    width: 700px;
    align-self: center;
    
}

.segundo-conteudo-tres {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    margin-left: 20px;
    padding: 1rem;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    font-family: Cambria, sans-serif;

}

.curiosidades {
    text-align: center;
    color: var(--fundo);
    font-family: Cambria, sans-serif;
    font-size: 35px;
    background-color: var(--azul);
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    align-self: center;
}

span {
    color: #1a00aa;
    font-weight: bold;
    font-family: Cambria, sans-serif;   
    font-size: 22px;
}

.voce-sabia {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 1rem;
    text-align: center;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-style: oblique;
    background-color: var(--card);
    padding: 2rem;
    border-radius: 0.5rem;
    
}

.voce-sabia-titulo {
    font-weight: bold;
    font-size: 30px;
    font-family: Lato, sans-serif;
}

.imagem-mao {
    padding: 1rem;
    
}

.texto-voce-sabia {
    display: flex;
    flex-direction: column;
    text-align: justify;
    
    

}


.botao-dic {

    background: #01b2f8;
    color: #fdf900;
    align-items: center;
    border: thick;
    border-radius: 5px;
    position: relative;
    height: 80px;
    width: 300px;
    font-size: 1.5em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    font-family: Cambria, sans-serif;

}

.texto {
    font-size: 25px;
    
}

button:hover {
    background: #1a00aa;
    color: #01b2f8;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    width: 0;
    background: #01b2f8;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* ---- FIM DA PÁGINA ---- */

footer {
    display: flex;
    background-color: #59B4C3;
    padding: 20px;
    justify-content: center;
    font-family: Georgia, serif;
}

.rodape {
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 100%;
    gap: 5rem;
    font-size: 18px;
    font-weight: 400;
    background-color: #59B4C3;
    border-top: var(--border);;
    font-family: Georgia, serif;
}

.quem-somos p{
    width: 600px; 
    color: rgb(0, 55, 156);
    font-family: Georgia, serif;
    font-size: 18px;
}

.quem-somos h3{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 218, 51);
    font-size: 20px;
    font-style: oblique;
    font-family: Georgia, serif;
}

.agradecimentos p{
    width: 400px; 
    color: rgb(0, 55, 156);
    font-size: 18px;
    font-family: Georgia, serif;
}

.integrantes {
    font-family: Georgia, serif;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 218, 51);
    font-size: 20px;
    font-style: oblique;
}

.nome a{
    text-decoration: none;
    color: rgb(0, 55, 156);
    font-size: 18px;
    font-family: Georgia, serif;
}


.parametros-imagem {
    filter: drop-shadow(0 0 1rem rgb(182, 173, 119));
    margin: auto;
}

.parametros {
    max-width: 1200px;
    text-align: justify;
    padding-top: 4rem;
    padding-bottom: 5rem;
    align-items: center;
    margin: auto;
    font-family: Cambria, sans-serif;
}

.parametros h1 {
<<<<<<< HEAD
    font-weight: 700;
    font-family: Cambria, sans-serif;
=======
    font-weight: bold;
>>>>>>> fc958c8513cfd9ef7feb9444f6b24ab508c2eda4
    font-size: 20px;
    background-color: var(--azul);
    border-radius: 20px;
    padding: 15px;
    width: 320px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.primeiro-parametros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 1200px;
    font-family: Cambria, sans-serif;
    font-size: 22px;
    
    
}



.parametros-titulo {
    max-width: 500px;
    padding-bottom: 4rem;
    padding-right: 4rem;
    font-size: 22px;
    font-family: Cambria, sans-serif;
    
}



.parametros-lista {
    background-color: var(--azul2);
    padding: 20px;
    height: 280px;
    color: #fff2a7;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff2a7;
    font-family: Cambria, sans-serif;
    font-size: 25px;
    
}

.segundo-parametros-texto {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 100%;
    font-size: 15px;
    gap: 5rem;
    
    font-family: Cambria, sans-serif;
    
}

.segundo-parametros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%px;
    padding-top: 2rem;
    font-family: Cambria, sans-serif;
    

}

.segundo-parametros p{
    font-size: 20px;
    font-family: Cambria, sans-serif;
    
    
}


.imagem-um {
    filter: drop-shadow(0 0 1rem rgb(182, 173, 119));
    padding-right: 1rem;
}

.imagem-dois {
    filter: drop-shadow(0 0 1rem rgb(182, 173, 119));
    padding-left: 1rem;
}
