*{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(251, 255, 4);
    text-decoration: none;

}

.img-inicial{

    margin-left: 50px;
    margin-top: 0px;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
    background-color: rgb(10, 139, 190);
    height: 10vh;
    
    
}

.menu-nav{
    list-style: none;
    display:contents;

}

.menu-nav li{
    letter-spacing: 2px;
    margin-left: 40px;
}

.div1 {
    background-color: rgba(10, 139, 190, 0.74);
}

.div1 h1 {
    color: rgb(255, 251, 0);
    font-family: 'Lucida Sans', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div1 p{
    color: rgb(211, 208, 8);
    font-family: 'Lucida Sans', sans-serif;
    background-color: gba(10, 139, 190, 0.74);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}



.img-central-conversa {
    width: 1000px;
    height: 500px;
    margin: auto;
    display: block;
    display: flex;
    justify-content: center;

}