body {
    background-color: #f2f2f2;
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7bebf3;
  }
  
  .quiz-container {
    width: 500px;
    height: 500px;
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f7f1bffa;
  }
  
  h1 {
    text-align: center;
    margin-top: 10px;
    color: #0177ad;
    
  }

  h2{
    color: rgb(0, 195, 255);
    font-size: 30px;
    margin-left: 80px;
  }
  
#pontos{

    color: rgb(3, 121, 255);
    font-size: 20px;
    margin-left: 130px;
    margin-top: 50px;
  
}

  #question-container {
    margin-bottom: 20px;
    color: #007f88;
    margin-top: 80px;
  }
  
  #question-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
#start-button{
    background-color: #1ca5e4;
    color: yellow;
    width: 250px;
    height: 70px;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 120px;
    margin-bottom: 90px;
    
}

  
  button {
    height: 60px;
    font-size: 20px;
    background-color: #1ca5e4;
    color: rgb(218, 228, 75);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  button:hover {
    background-color: #3eabdda9;
  }
  
  #controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #timer-container {
    display: flex;
    align-items: center;
  }
  
  #timer-text {
    font-size: 14px;
    color: rgb(3, 121, 255);
    margin-left: 120px;
  }
  
  #timer {
    font-weight: bold;
    margin-left: 5px;
    color: rgb(3, 121, 255);
    
    
  }