@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #fdffce;
}

ul {
    list-style: none;
}

html {
    font-family: Lato, sans-serif;

}

header {
    background-color: #59B4C3;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 6rem;
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD:styleMary.css
footer {
    background-color: #74E291;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    max-width: 1500px;
    gap: 5rem;
}
=======
>>>>>>> 401b2958b60627e707f458d6e1b03473e858705a:alfabeto/alfabeto.css

.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

<<<<<<< HEAD:styleMary.css
.vamos-saber{
    font-size: 30px;
    font-weight: bold;
    justify-items: center;
    margin: auto;
    max-width: 900px;
    gap: 2rem;
    text-align: center;
    color: #211C6A;

    background-color: #59b5c37a;
    height: 70px;
    padding-top: 10px;
    border-radius: 25px;
    border-width: thick;
    border-style: double;
    border-color: #59b5c3;
}
=======
>>>>>>> 401b2958b60627e707f458d6e1b03473e858705a:alfabeto/alfabeto.css

.container {
    display: flex;
<<<<<<< HEAD:styleMary.css
    flex-direction: row;
    justify-content: space-between;
    gap: 13rem;
=======
>>>>>>> 401b2958b60627e707f458d6e1b03473e858705a:alfabeto/alfabeto.css
    align-items: center;
    margin-bottom: 20px; /* Espaçamento entre cada imagem e texto */
}
.imagem {
    flex: 1; /* Para as imagens ocuparem metade da largura da tela */
}
.texto {
    flex: 1; /* Para os textos ocuparem metade da largura da tela */
}
<<<<<<< HEAD:styleMary.css

.segundo-conteudo {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    gap: 1.5rem;
    padding: 6rem;
}

.primeiro-titulo h1 {
    color: #59B4C3;
    font-size: 30px;
    background-color: rgba(247, 234, 51, 0.438);
    width: 400px;
    height: 100px;
    padding-top: 7px;
    padding-left: 45px;
    margin-left: -50px;
    border-radius: 200px;
    border-width: thick;
    border-style: outset;
    border-color: #59b5c3;
}

    
.primeiro-titulo p {
    font-size: 20px;
    font-weight: bold;
    margin-left: -15px;

}


.segundo-conteudo h1 {
    color: #0fa6bd;
    font-size: 30px;
    font-style: oblique;
    font-weight: 850;
}

.segundo-conteudo p {
    font-size: 18px;
    font-weight: 550;

}


.texto-final h2 {
    color: #211C6A;
    font-size: 25px;
    font-weight: bold;
}

.texto-final {
    font-size: 18px;
    font-weight: 550;
}

span {
    color: #211C6A;
    font-size: 30px;
    font-weight: 550;
}

.voce-sabia {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    
}

.texto-voce-sabia {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;
    margin-left: 150px;
   
}

.img-dic {
    display: flex;
    padding: 8rem;
    margin-right: 200px;
}

.botao-dic {
    
    background: #01b2f8;
    color: #fdf900;
    align-items: center;
    border: thick;
    border-radius: 5px;
    position: relative;
    height: 60px;
    width: 300px;
    font-size: 1.5em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;;
    font-family: 'Lucida Sans', sans-serif;
    
}

.texto {
    font-size: 25px;
}

button:hover {
    background: #f9e84d;
    color: #01b2f8;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    width: 0;
    background: #01b2f8;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.quem-somos {
    gap: 10rem;
    margin-right: 30px;
    max-width: 300px;
}

.integrantes {

}

.agradecimentos {
    
}
=======
>>>>>>> 401b2958b60627e707f458d6e1b03473e858705a:alfabeto/alfabeto.css
