@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

:root{
    --border: 0.18rem solid rgba(241, 198, 7, 0.712);
    --border2: 0.1rem solid rgb(205, 201, 62);
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
    transition: 0.2s linear;
}

header{
    
    background-color: #59B4C3;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 100px;
    max-width: 100%;
    font-size: 1.2rem;
    font-family: Georgia, serif;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 218, 51);

}

.navbar a:hover{
    color: rgb(205, 201, 62);
    border-bottom: var(--border2);
    border-top: var(--border2);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}






/*-----------*/




body {
    background: #1a5ea6;
    font-family: Roboto, sans-serif;
}

.app{
    background: rgb(253, 245, 208);
    width: 700px;
    max-width: 100%;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 20px;
}

.app h1{
    font-size: 50px;
    color: #115aa8;
    font-weight: 600;
    border-bottom: 1px solid #333 ;
    padding-bottom: 30px;
    text-align: center;
}

.quiz {
    padding: 30px 0;
}

.quiz h2{
    font-size: 30px;
    color: #115aa8;
    font-weight: 600;
    padding-bottom: 20px;
}

.btn {
    background: rgb(252, 231, 136);
    color: #1a5ea6;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #1a5ea6;
    color: rgb(255, 218, 51);
}


.btn:disabled{
    cursor:no-drop;
}


#next-btn{
    background: #1a5ea6;
    color: rgb(252, 231, 136);
    font-weight: 600;
    width: 300px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    transition: all 0.3s;
    
}




.incorrect{
    background: #ff9393;
}

.correct{
    background: #12e26c;
}