@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #fdffce;
}

ul {
    list-style: none;
}

html {
    font-family: Lato, sans-serif;

}

header {
    background-color: #59B4C3;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 6rem;
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
}


.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



/*-----------*/



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1a5ea6;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 20px;
}

.app h1{
    font-size: 40px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333 ;
    padding-bottom: 30px;
    text-align: center;
}

.quiz {
    padding: 30px 0;
}

.quiz h2{
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 20px;
}

.btn {
    background: #fff;
    color: #001e76;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #194386;
    color: #fff;
}


.btn:disabled{
    cursor:no-drop;
}


#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 300px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    transition: all 0.3s;
}

.next-btn:hover{
    background: rgba(25, 67, 134, 0.769);
    color: #ffffff;
}


.incorrect{
    background: #ff9393;
}

.correct{
    background: #12e26c;
}